@charset "utf-8";

.wrap {
	width: 100%;
	height: 100%;
}
.wrap .container {
	padding: 20px;
	height: 700px;
	border: 1px solid #eeeeee;
}

.header {
	height: 80px;
	margin-bottom: 20px;
}

/*hero*/
.hero {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	width: 900px;
	height: 300px;
}

.visual {
	position: relative;
}

.visual > div {
	position: absolute;
	float: left;
	width: 900px;
	height: 300px;
	background-color: #ddd;
}

.arrow {
	position: absolute;
	display: inline-block;
	top: 50%;
	z-index: 1000;
}

.navi {
	position: absolute;
	display: inline-block;
	bottom: 50px;
	z-index: 1000;
}


/*layer*/
.layer {
	position: absolute;
	right: 0;
	top: 50px;
	width: 100px;
	height: 30px;
	background-color: skyblue;
	z-index: 1000;
}
.top_btn {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 5px;
	width: 45px;
	height: 45px;
	background-color: #ddd;
	z-index: 1000;
}

/* 틀고정 기본 스타일 */
.fixed_wrap {
	/* width: 100%; */
	margin: 0 auto;
	overflow: scroll;
}
.fixed_wrap table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.fixed_wrap table tr td {
	padding: 2px;
	border: 1px solid #ccc;
	word-break: break-all;
}
.fixed_wrap .fixed_left {
	position: absolute;
	background-color: #ffffff;
}

.fixed_wrap .fixed_left .fixed_left_head {
	position: absolute;
	top: 0;
	background-color: #ffffff;
	z-index: 1000;
}
.fixed_wrap .fixed_left .fixed_left_body {
	overflow: hidden;
}

.fixed_wrap .fixed_right .fixed_right_head {
	overflow: hidden;
	position: absolute;
	background-color: #ffffff;
}
.fixed_wrap .fixed_right .fixed_right_head table td,
.fixed_wrap .fixed_right .fixed_right_body table td {
	width: 70px;
}
/* //틀고정 스타일 */